.navbar {
	width: 100%;
	display: block;
	box-sizing: border-box;
	padding: 0 20px;
	overflow: visible;
	margin-top: 30px;
}

.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover {
	background-color: #ddd;
	color: black;
}

.navbar button {
	padding: 10px 15px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.navbar button:hover {
	background-color: #0056b3;
}
